

/* promotion */
section#promotion {

}
section#promotion .wrap {
  height: 100%;
  gap: 14px;
}
section#promotion .wrap h2 {
}
section#promotion .wrap p {
  margin-bottom: 15px;
  font-weight: bold;
}
section#promotion .wrap iframe {
  border: 1px solid #333;
}






/* business */
section#business {
  background-color: #eee;
}
section#business .wrap {
  height: 100%;
  gap: 15px;
}
section#business .wrap h2 {
  color: #149249;
  font-weight: bold;
}
section#business .wrap p {
}
section#business .wrap ul {
  gap: 50px;
}
section#business .wrap ul li {
  width: 50%;
}
section#business .wrap ul li a {
  perspective: 800px;
}
section#business .wrap ul li a::before{
  content:"";
  width: 700px;
  height: 340px;
  display: block;
  background-size: cover;
  border-radius: 33px;
}
section#business .wrap ul li:nth-child(1) a::before{
  background-image: url(../img/busi_01.png);
  background-color: #eee;
  transform: rotatey(0deg);
  transition: all 1s;
 }

section#business .wrap ul li:nth-child(2) a::before{
  content:"";
  background-image: url(../img/busi_02.jpg);
}

section#business .wrap ul li a h3 {
  font-weight: bold;
  padding-top: 30px;
}
section#business .wrap ul li a p {
}


/* products */
section#products {
  position: relative;
  width: 1920px;
}
section#products .wrap {
  height: 100%;
  flex-direction: column-reverse;
  max-width: 1920px;
}
section#products .wrap h2 {

}
section#products .wrap ul {
  bottom: 50px;
  position: absolute;
}
section#products .wrap ul::before{
  content:"";
  width:calc(100% - 120px);
  border-top: 1px solid;
  position: absolute;
  top:5px;
  left: 60px;
}
section#products .wrap ul li {
  width: 120px;
}
  
section#products .wrap ul li a {
  line-height: 2;
  box-sizing: border-box;
  text-align: center;
}
section#products .wrap ul li a::before{
  content:"";
  width: 9px;
  height: 9px;
  display: block;
  border: 1px solid #999;
  border-radius: 50%;
  margin: 0 auto;
  background-color: white;
  position: relative;
  z-index: 1;
}
section#products .wrap ul li.current a::before{
  background-color: black;
}
section#products .wrap ul li:first-child a{
  padding-right: 10px;
}
section#products .wrap ul li:not(:first-child) a {
padding:0 10px;
}
section#products .wrap ul li a:hover{
  color:blue;
}
section#products .wrap div {
  height: 100%;
}

section#products .wrap div article{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

section#products .wrap div article:not(:first-child){

}

section#products .wrap div article h3 {

}
.h2::before{
}
section#products .wrap div article figure {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

section#products .wrap div article figure img{

}
section#products .wrap div article p {

}

section#products .wrap div article a {

}


/* news */
section#news {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
section#news .wrap {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto auto auto auto;
  row-gap: 15px;
  position: relative;
}
section#news .wrap h2 {
  grid-column: 1;
  grid-row: 1 / span 4;
}
section#news .wrap h3 {
  grid-column: 1;
  grid-row: 2;
}
section#news .wrap p {
  grid-column: 1;
  grid-row: 3;
}
section#news .wrap ul {
  grid-column: 2;
  grid-row: 1 / span 5;
  display: grid;
  grid-template-rows: auto auto auto auto auto;
  grid-template-columns: auto auto auto auto;
  column-gap: 15px;
  row-gap: 20px;
}
section#news .wrap ul li:nth-child(1) {
  grid-column: 1 / span 3;
  grid-row: 1;
}
section#news .wrap ul li:nth-child(2) {
  grid-column: 1 / span 3;
  grid-row: 2;
}
section#news .wrap ul li:nth-child(3) {
  grid-column: 1 / span 3;
  grid-row: 3;
}
section#news .wrap ul li:nth-child(4) {
  grid-column: 1 / span 3;
  grid-row: 4;
}
section#news .wrap ul li:nth-child(5) {
  grid-column: 1;
  grid-row: 5;
}
section#news .wrap ul li:nth-child(6) {
  grid-column: 2; 
  grid-row: 5;  
}section#news .wrap ul li:nth-child(7) {
    grid-column: 3; 
  grid-row: 5;  
}
section#news .wrap ul li:nth-child(8) {
    grid-column: 4; 
  grid-row: 5;  
}
section#news .wrap ul li a {

}
section#news .wrap ul li a figure{
  position: relative;
}
section#news .wrap ul li a figure img{
  width: 100%;
  border-radius: 15px;
}
section#news .wrap ul li a figure figcaption{ 
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: white;
  background-color: rgba(0,0,0,0.6);
  padding: 0px 20px;
  box-sizing: border-box;
  opacity: 0;
  transition: 2s;
  border-radius: 15px;
}
section#news .wrap ul li a figure:hover figcaption{
  opacity: 1;
}

section#news .wrap ul li a span {
  color: #666;
  font-size: 12px;
}
section#news .wrap ul li a time {

  color: #555;
  font-size: 12px;
}
section#news .wrap a.more {

  position: absolute;
  bottom: 0;
}

.over{
  background-color:#eee;
}